[2017-02-08 14:58] falsificado opened #3 "OpenSSL 1.1"
The linux source fails to compile, throwing the following error:

[code]
Apparently it is not compatible with OpenSSL 1.1. There are some details here:
http://openssl.6102.n7.nabble.com/openssl-org-4243-1-1-0-pre2-bug-EVP-CIPHER-CTX-isn-t-completely-opaque-td62305.html

[2017-04-23 00:46] hectorrojas150 opened #6 "Error installing specter wallet - Windows 7"
I have an error when I want to install the wallet on windows 7.
The error says: The procedure entry point _create_locale is not found in the dynamic link library msvcrt.dll
Can someone help me please?

[2017-04-23 06:05] spectrecoin commented on #6
Noted. We are currently working on updates for several Windows version.

[2017-06-04 09:43] jbg commented on #3
Thanks for the report. Debian Stretch provides OpenSSL 1.0 as well, as a lot of software still depends on it. I think you need to install the package `libssl1.0-dev`.

You might then need to build Spectre with something like the below. Note the paths may be wrong as I don't have a Debian Stretch system handy to check where it installs the OpenSSL 1.0 headers and shared libraries, but it should be

[2017-06-04 09:44] jbg commented on #5
Can you confirm whether this still occurs on the latest released version?

[2017-06-08 21:02] bitcoinx2 commented on #5
I wasn't able to reproduce it by restarting my (previously running) wallet, but that doesn't mean it's never going to happen again. This wasn't always reproducible before, either.

[2017-06-09 08:55] jbg commented on #5
Thanks for the response. I have fixed several bugs related to the UI not updating correctly in the upcoming release, so please let me know if it happens again, especially after you upgrade to the next release (should be out in the next few days).

[2017-06-19 13:30] jbg commented on #8
Thanks for the report, I have a 4K display so I'll look into this.

[2017-06-21 09:07] jbg commented on #9
Thanks for the report. I looked into this last night, and this is a known issue in 1.1.0.0b. It is already fixed in 1.2.0.0, but you unfortunately can't run this version as there was no 32-bit version of it released.

I will be releasing 32-bit builds of 1.3.0.0 when it's ready, so you will be able to update and this issue will go away.

[2017-06-25 12:58] pvk444 opened #10 "Recent Transactions - not updating"
Since about 4 days the "Recent Transactions"-tab in the Windows client is not updating any more. It is staking and the total balance is adjusted accordingly. Only the Transaction tab is not updating.
Restarting the app, however, updates the Recent Transaction tab once, but only once and leaves it then again stale.

This used to work previously, and since I have not made any changes to my system, i

[2017-09-11 17:15] jbg commented on #10
This issue should be resolved as of v1.3.1. Please download the latest release (now v1.3.2) and reopen if it still occurs.

[2017-09-11 17:15] #10 closed

[2017-09-11 17:15] jbg commented on #7
This issue should be resolved as of v1.3.1. Please download the latest release (now v1.3.2) and reopen if it still occurs.

[2017-09-11 17:16] jbg commented on #5
This issue should be resolved as of v1.3.1. Please download the latest release (now v1.3.2) and reopen if it still occurs.

[2017-09-11 17:16] jbg commented on #4
This issue should be resolved as of v1.3.0. Please download the latest release (now v1.3.2) and reopen if it still occurs.

[2017-09-11 17:16] jbg commented on #3
Just an update: Debian packages are planned for the 1.4 release.

[2017-09-11 17:16] jbg commented on #6
This issue should be resolved as of v1.3.0. Please download the latest release (now v1.3.2) and reopen if it still occurs.

[2017-09-11 17:16] #6 closed

[2017-09-11 17:16] jbg commented on #9
This issue should be resolved as of v1.3.1. Please download the latest release (now v1.3.2) and reopen if it still occurs.

[2017-09-11 22:58] ause-rname commented on #11
That was 1.3, attempting 1.3.2 now..

[2017-09-11 23:45] ause-rname commented on #11
When using qtcreator with the .pro file I receive the following error:

[2017-09-12 07:20] jbg commented on #11
Are you wanting to build the desktop GUI wallet, or the command-line (no graphical interface) wallet?

`cd src; make -f makefile.unix` is the way to build the command-line wallet with no graphical interface. If that's what you want, please post the output of `cc -v` and I can help you further.

If you want to build the desktop GUI wallet, then from the `spectre-1.3.2` directory please run:

[code]

[2017-09-12 23:06] ause-rname commented on #11
CLI will work, though I'm curious about the gui.  So the CLI would be the preference initially.  As a side note I've moved to a VM for this, so disregard the above uname.

[code]
Thanks

[2017-09-13 07:11] jbg commented on #11
OK. I've pushed an update to master that should provide better compatibility with older Linux installations. Since you are building the console wallet, disregard anything about Qt. Just run

    make -f makefile.unix -j2

in the `src` directory after pulling the latest master. You can use a higher `-j` parameter if you have more CPU cores. Based on your GCC version, it looks like you're on Debian

[2017-09-13 21:56] ause-rname commented on #11
Yes, dual core.  Here are the results:

[code]

[2017-09-13 23:00] jbg commented on #11
Please install libevent (with development headers). The package will be called something like `libevent-dev` if you're on a Debian-like system.

Incidentally, the latest git master has now been set up with an autotools build system (the first step towards binary Linux packages). In theory, you should be able to check out latest master and run `git submodule update --init; ./configure; make` in the

[2017-09-17 13:49] ause-rname commented on #11
After installing libevent-dev with the new master:

[code]

Or running the git command:

[code]

[2017-09-30 11:33] Oliver7580 commented on #8
Hello i also got a 4k display now and the program does not scale properly,it is all very small and tiny,barely to see for my eyes.Would really appreciate if this would be fixed :)

[2017-09-30 11:36] Oliver7580 opened #12 "doesn´t stop loading since today"
Hello since today the wallet is loading and doesn`t stop,also the zero balance on start up is still present in this 1.3.3 Version
![img_20171001_132810](https://user-images.githubusercontent.com/18140579/31054175-4902842a-a6ad-11e7-8aef-f5f933d02e66.jpg)

[2017-10-01 16:04] trappist commented on #13
After removing the data directory to reproduce the original problem:
[code]
That directory exists but contains only empty `LOG` `LOG.old` and `LOCK` files.

[2017-10-01 20:14] jbg commented on #13
Is this built from master, or the v1.3.3 release tag?

[2017-10-01 22:04] trappist commented on #13
Master, I'll try 1.3.3

[2017-10-01 23:00] trappist commented on #13
Not much different on 1.3.3. I still had to initialize the leveldb manually, and when I do the output looks like this:
[code]
debug.log:
[code]

[2017-10-02 07:39] jbg commented on #13
Thanks. I will try to reproduce this here on Ubuntu 14.04. 32- or 64-bit?

[2017-10-02 13:53] trappist commented on #13
64 bit.

[2017-10-02 19:10] #12 closed

[2017-10-03 15:19] jbg commented on #13
Please try latest master. Move your `~/.spectrecoin` out the way first and let it recreate it.

[2017-10-03 15:21] jbg commented on #14
If `backup.dat` is simply a backup copy of `wallet.dat` from a previous SpectreCoin wallet, just make sure the Spectre wallet is not running, and then copy it into your data directory (on Linux, it's `$HOME/.spectrecoin`, on Windows it's a folder called SpectreCoin inside your Windows profile application data directory). Make sure it is named `wallet.dat`. Then launch the wallet again.

[2017-10-03 15:22] jbg commented on #11
Please check out latest master using git, rather than downloading the .zip file.

Then you can follow the instructions in README to build it.

[2017-10-03 15:23] jbg commented on #8
This will be fixed in the 1.4 release.

[2017-10-03 16:39] trappist commented on #13
Done, no noticeable change @jbg. I still had to init the leveldb manually and it still exits immediately.
Debug.log:
[code]

[2017-10-03 16:43] Oliver7580 commented on #14
Thank you for your reply,i am on Windows 10,but i can't find the folder,that you mean.i only found the normal folder where the .exe is in.

[2017-10-03 16:43] Oliver7580 commented on #8
Thats good

[2017-10-04 13:12] jbg commented on #15
Pull requests are gladly accepted, but a Docker image is not currently on the roadmap. Note that almost any base Linux install already includes OpenSSL, libevent and Boost, and you don't need Qt if you don't want to build the GUI. So there aren't really any dependencies to install.

When 1.4 is released it will include .deb and AUR packages so if you run a Debian-based distribution or Arch, you ca

[2017-10-04 13:14] jbg commented on #13
Can you show me the output if you don't init the leveldb manually? (Which should never be needed, so the underlying bug is happening at that point.)

[2017-10-04 16:14] trappist commented on #13
[code]

[2017-10-04 16:51] jbg commented on #13
this is definitely built from latest master? (latest master always sets create_if_missing true, hence why I ask)

[2017-10-04 17:06] trappist commented on #13
I see now a recent commit that I didn't have, that sets this. Trying again.

[2017-10-04 17:17] trappist commented on #13
Fixed :) Thank you.

[2017-10-06 12:59] Oliver7580 commented on #14
Hello I still have not found the right folder :(

[2017-10-08 14:34] bitcoinx2 commented on #14
Please come to Slack and let me help you there, Oliver. https://slack.spectreproject.io

[2017-10-08 17:41] jbg commented on #16
I've used the "enhancement" label because this is effectively a new feature -- the "Import Wallet" button in the current wallet has never worked, because it is internally wired to BIP32 mnemonic recovery which is not relevant to importing a backed-up `wallet.dat`.

In v1.4 this functionality will be removed and replaced with a proper backup/restore function that works as users expect.

[2017-10-08 17:42] jbg commented on #14
Closing because, as @bitcoinx2 points out, this is not a bug but a support request. Please join slack and ask for help :)

[2017-10-08 17:46] jbg commented on #11
Closing for now - I have tested compilation on various Debian, Ubuntu and Arch systems with latest Git master (checked out from the repository, not downloaded as a .zip) and it works for me. If you think there is still a bug, please feel free to re-open.

[2017-11-25 04:29] jraines commented on #17
I am also experiencing this on Windows 10 with v1.3.3

It worked fine for a while, but at some point I closed it and reopened, and now it won't download past block 437792 even though it says that data is being transferred and there are multiple connections to the network.

Sorry this is just a +1 essentially but hoping for an answer as well because I can't stake or move my coins right now

[2017-11-29 22:30] elefthei commented on #21
Would this work? https://github.com/spectrecoin/spectre/pull/24

[2017-12-03 16:12] bitcoinx2 commented on #23
Please take a look here: https://github.com/bitcoinx2/spectre/wiki/FAQ#6-i-have-zero-connections

And use Slack for further user support questions please. :)

[2017-12-03 16:12] bitcoinx2 commented on #23
Duplicate of https://github.com/spectrecoin/spectre/issues/21

[2017-12-06 22:04] bitcoinx2 commented on #26
Wrong place to ask, please ask on Bitcointalk or Slack. Github issues are for reporting bugs (or feature requests) regarding the wallet software.

[2017-12-09 10:30] bitcoinx2 commented on #27
This is not a support forum, please head to Bitcointalk or Slack (channel #client_support) for user support. Your problem is related to this bug: https://github.com/spectrecoin/spectre/issues/21

[2017-12-09 10:31] bitcoinx2 commented on #27
Could you provide a screenshot? Also note that we have a #client_support channel on Slack. If you are reporting here, you should be sure that it's a bug.

[2017-12-09 10:52] bitcoinx2 commented on #28
Generally in Bitcoin-based currencies, balances are not meant to be associated with a fixed balance, but rather the total balance in a wallet is the only thing that should matter to a user. This is a common thinking error that maybe needs to be communicated more clearly, but is not a problem in the wallet (and should not be treated as such). Closing.

[2017-12-11 13:36] moleculezz commented on #27
Right.. sorry, will use that instead next time.

Here is the screenshot. I've left it on a whole night, no change or any progress.
<img width="1297" alt="spectre_snapshot" src="https://user-images.githubusercontent.com/118499/33833601-89bdeac8-de56-11e7-9bc9-c971b1ab4844.png">

[2017-12-11 13:40] bitcoinx2 commented on #27
Right, this is bug No. 21: https://github.com/spectrecoin/spectre/issues/21

The solution is to add nodes: https://github.com/bitcoinx2/spectre/wiki/FAQ#7-i-have-zero-connections

[2017-12-11 13:53] moleculezz commented on #27
Great.. it has peers now. Thanks.

[2017-12-11 19:11] jbg commented on #18
resolved in e8507241f3a7a24907c48cba6c789ccdbe61dcdf

[2017-12-11 19:28] jbg commented on #21
Fixed in b4eec465cb31efcf71b7d8c858c127cf5394f80d

[2017-12-27 14:25] heyitm3 commented on #30
Same issue here. Connected. Staking. Showed balance but had to restart computer. Once restarted computer total balance shows 0.
![xspec-wallet-zero-total-balance](https://user-images.githubusercontent.com/34890142/34384078-e2e28d5a-eae7-11e7-88dd-3a4ea1bb8d39.jpg)

[2017-12-27 18:37] heyitm3 commented on #31
I ran getstakinginfo in debug and it is showing the previous balance prior to the additional coins being added to the wallet. (below shows 724 and isn't showing the increase of 500 coins on staking weight). Its been about 4 hours since the new coins have been in the wallet.

{
"enabled" : true,
"staking" : true,
"errors" : "",
"currentblocksize" : 1000,
"currentblocktx" : 0,
"pooledtx" : 0,
"diffi

[2018-01-02 08:41] jbg commented on #31
This is by design - idid you have an actual issue here?

[2018-01-05 16:03] Breacz commented on #17
Any fix? Got the same issue...

[2018-01-06 23:57] gusseleet opened #34 "Spectre wallet crashes at startup"
I just downloaded the wallet application, when I try to to launch it I get the following error:

[code]

[2018-01-08 17:31] Mschneider93 commented on #3
Really looking foreword for the debian package. On the current master version I get an error when running: ./autogen.sh

Unable to checkout '4c1e9e01688864a32217e541102fa8d2df9a3d59' in submodule path 'leveldb'

[2018-01-09 10:38] FireWalkerX commented on #25
Any update on this?

[2018-01-15 08:13] davecolwell commented on #17
Go to TOOLS > DEBUG > CONSOLE

Type rewindchain 1000

Restart the client and let it resync

[2018-01-18 06:48] davecolwell commented on #17
If it is still not syncing after ^^, for Windows only, make sure you also delete all files in this folder EXCEPT wallet.dat

C:\Users\{YOUR USERNAME}\AppData\Roaming\SpectreCoin

[2018-01-22 22:24] francescopeloi commented on #39
the name of the package is distro dependent. Try with `apt-get install libssl-dev` and check that it installs version 1.0

[2018-01-23 10:49] marcopolo88 commented on #39
thx @francescopeloi

[2018-01-23 11:42] francescopeloi commented on #40
hi @marcopolo88 , where did you get the source from? You should clone this repository with git, don't download the zip or tar.gz file from the release section, which lacks of git submodules. Also I suggest you to come on [slack](http://slack.spectreproject.io/) to resolve these kind of issues, on the #support_client channel. You'll get quicker feedback.

[2018-01-24 00:21] marcopolo88 commented on #40
ok registered slack. channel support_client?
will have a look there at day time

source is gitted and installation attempt exactly as instructed:
git clone --recursive https://github.com/spectrecoin/spectre
cd spectre
./autogen.sh
./configure --enable-gui  # leave out --enable-gui to build only the console wallet
make

OS:
opipcp@orangepipcplus:~/spectre$ cat /proc/version
Linux version 3.4.113-su

[2018-01-24 00:44] marcopolo88 commented on #40
all again from fresh in order to have the full log:

opipcp@orangepipcplus:~$ git clone --recursive https://github.com/spectrecoin/spectre
Cloning into 'spectre'...
remote: Counting objects: 12262, done.
remote: Compressing objects: 100% (68/68), done.
remote: Total 12262 (delta 56), reused 65 (delta 34), pack-reused 12160
Receiving objects: 100% (12262/12262), 34.75 MiB | 3.38 MiB/s, done.
Resolv

[2018-01-25 21:08] bedlaj commented on #40
I see you are missing pushd.  I had the same problem on Linux Mint Serena. What I had to do was run autogen.sh with bash interpretter. `bash ./autogen.sh`

[2018-01-26 22:40] marcopolo88 commented on #40
thank you @bedlaj
you nailed it
compiling is smooth on SCB only with the usual configure flags
armbian will run spectre node 24/7

[2018-03-17 16:45] aliascash opened #1 "pending"
pending

[2018-03-30 14:46] #1 closed, assigned to nobody

[2018-03-30 14:50] aliascash opened #2 "Integrate the gettxout API call into the code"
Integrate the gettxout API call into the code base for Spectrecoin
<img width="957" alt="screen shot 2018-03-30 at 15 48 26" src="https://user-images.githubusercontent.com/22733129/38141820-de267e46-3431-11e8-9401-c820b060f2ff.png">
This is needed to get XSPEC listed at BarterDEX.

Bounty!

[2018-04-04 11:37] dragononcrypto opened #4 "Timeout waiting for onion hostname"
Built from source in Ubuntu 17.04 (Linux)

Let me know if you want bedug.log or tor.log data. This issue was previously documented in the XSPECOfficial repository on February 9th and has yet to be resolved as far as I understand.

I was advised by one of your devs /helpers in discord to shutdown and restart the wallet but this does not solve the problem. Thanks in advance for solving this issue in

[2018-04-06 14:16] aliascash commented on #4
Thank you for your input. We will look at this. Can you come to our Discord server to chat? Can you post the debug files here?

[2018-04-10 09:58] aliascash opened #5 "XSPEC v1.3.8 and previous versions crash on some OSX High Sierra installations"
It has been reported that v1.3.8 / v.1.3.7 / v1.3.6 and other version do not run on OSX High Sierra and crash on startup or shortly after. This needs to be investigated and a stable build needs to be completed for OSX High Sierra. This problem is sporadic and does not occur on all High Sierra installations and may be due to local environment issues.
[spectre_crashlog_2.txt](https://github.com/spec

[2018-04-10 10:22] aliascash opened #7 "Consider integration of OBFS4 directly in XSPEC wallet"
Consider the integration of OBFS4 directly in the XSPEC wallet, without the need to download additional software. For activation, it should be enough to define the OBFS4 bridges in the spectre wallet settings to activate and use and the wallet could display and indicator that OBFS4 has been activated.

[2018-04-10 22:38] aliascash opened #8 "Replace QTWebKit with QTWebEngine for the XSPEC GUI"
QTWebKit has been discontinued and has been succeeded by QTWebEngine. An upgrade to QTWebEngine will allow more stable builds.

[2018-04-11 22:00] aliascash opened #9 "Remove "Generated but not accepted, Staked" from wallet transaction list"
The 'Recent Transactions' pane in the wallet shows both accepted and 'not accepted' staked transactions. The same is the case for 'Transactions' tab. This should be changed so that ONLY the accepted staked transactions are shown.
<img width="368" alt="screen shot 2018-04-11 at 22 56 19" src="https://user-images.githubusercontent.com/22733129/38645449-fc94382e-3ddb-11e8-872f-93ce78d26d9b.png">
<img

[2018-04-15 18:02] aliascash commented on #8
being worked on by https://github.com/shbli

[2018-04-21 16:42] aliascash commented on #8
- Completed port from QtWebKit to QtWebEngine
- Setup build process on Windows (Incomplete)
- Setup build process on Ubuntu
- Start a new branch for porting the build process from Autotools/Automaker to QMake (Cross platform using Qt SDK)
- Research and look up different build process in progress

[2018-04-24 04:51] Veegold commented on #8
Wow this is awesome one of the things that were lacking before

[2018-04-24 09:20] aliascash opened #11 "Set up continuous integration"
Travis CI is a hosted, distributed continuous integration service used to build and test software projects hosted at GitHub. We need to set up XSPEC to use Travis or consider AppVeyor for same to ensure build quality.

[2018-04-24 15:30] dorsegal commented on #11
I can try and help with Travis. I have knowledge with Jenkins but I think they are pretty much the same

[2018-04-25 05:31] aliascash commented on #11
![](https://github.trello.services/images/mini-trello-icon.png) [Set up CI w/ Travis / AppVeyor](https://trello.com/c/fZHBtMHz/6-set-up-ci-w-travis-appveyor)

[2018-04-25 05:32] aliascash commented on #9
![](https://github.trello.services/images/mini-trello-icon.png) [Remove "Generated but not accepted, Staked" from wallet transaction list](https://trello.com/c/xFZh5EHq/7-remove-generated-but-not-accepted-staked-from-wallet-transaction-list)

[2018-04-25 05:33] aliascash commented on #8
![](https://github.trello.services/images/mini-trello-icon.png) [Updated GUI using QTWebEngine](https://trello.com/c/ZUrcrmAR/1-updated-gui-using-qtwebengine)

[2018-04-26 10:12] aliascash commented on #8
The port from QT WebKit to WebEngine has been completed

[2018-04-26 10:12] #8 closed, assigned to shbli

[2018-05-01 04:14] shbli opened #13 "Debugger support on OSX"
At this moment, the debugger on OSX is not working, this makes it difficult to debug and solve "OSX" only bugs.

The debugger must be supported on OSX.

If you try to build on OSX with the debugger attached the wallet crash instantly. Even though the wallet works fine all the time without the debugger being attached.

[2018-05-02 01:01] shbli opened #14 "Improve the translation to use signals and slots and be asnycrounos"
While moving to the QtWebEngine, the functionality of synchronous function calls from/to JavaScript/C++ is not supported anymore duo to the nature of the QtWebEngine (vs the old QtWebKit)

I have disabled the translation feature temporary. It should not be that difficult to work on it. here is the commit

https://github.com/spectrecoin/spectre/commit/c0689787dfa79b2669208ef46da750b688255f3e#diff-1

[2018-05-02 06:04] aliascash opened #15 "Tag code related to the anonymous tokens / ring signature"
Pinpoint and categorise all the lines of code that relates to the implementation of Zerocoin / Cryptonote in the code base.

The auditor have completed their initial review and we need to decide on the exact number of lines of code that we need them to work on. This should be all the lines of code directly related to the generation of anonymous tokens / sending from the Zerocoin protocol and also

[2018-05-02 06:07] aliascash commented on #15
![](https://github.trello.services/images/mini-trello-icon.png) [Identify all the lines of code that relates to the implementation of Zerocoin / Cryptonote in the XSPEC code base.](https://trello.com/c/QwyVD46H/11-identify-all-the-lines-of-code-that-relates-to-the-implementation-of-zerocoin-cryptonote-in-the-xspec-code-base)

[2018-05-07 18:08] aliascash opened #16 "Spectre.app (Mac OSX & Win) wants to connect to IPv4 addresses when starting"
I am running a filter software called Little Snitch Mac OSX and when I start the Spectre.app it wants to connect to IPv4 address: 188.40.128.246 - see screen shot. This appears to be a random German IP. Why does the Spectre.app want to connect to an IPv4 address when the network is .onion only under Tor.

http://www.infosniper.net/index.php?ip_address=188.40.128.246&k=&map_source=1&overview_map=1&

[2018-05-07 18:18] aliascash commented on #16
<img width="304" alt="screen shot 2018-05-07 at 19 18 08" src="https://user-images.githubusercontent.com/22733129/39717526-6ed24328-522b-11e8-9757-f7e29996a016.png">

[2018-05-07 18:20] aliascash commented on #16
When I block one IPv4 address the Spectre.app immediately connects to another
<img width="279" alt="screen shot 2018-05-07 at 19 19 09" src="https://user-images.githubusercontent.com/22733129/39717574-a6dd8fd4-522b-11e8-9f0c-faeb5dbbbb1d.png">

[2018-05-09 21:32] elamoeba commented on #16
I'm fairly certain these addresses are part of the Tor network.
If you Google "178.254.19.112" it shows up on TorStatus.

[2018-05-09 22:22] teknex opened #17 "1.4.0-alpha crash on startup"
crashes on startup (window never opens). Spectre1.4.0alpha-win\debug.log output:
[code]
Startup messages:
[code]

[2018-05-09 23:28] ptownsimon opened #18 "1.4.0 Beta (Windows 10 64-bit) crash on unlocking wallet"
Hope this is useful.

**From Windows Command Line:**

C:\Spectre1.4.0alpha-win>spectre
App start in main.cpp
Qt WebEngine ICU data not found at C:/D/QtSDK/5.10.1/msvc2017_64/resources. Trying parent directory...
Qt WebEngine ICU data not found at C:/D/QtSDK/5.10.1/msvc2017_64. Trying application directory...
Installed Qt WebEngine locales directory not found at location C:/D/QtSDK/5.10.1/msvc2017_

[2018-05-10 17:14] aliascash opened #19 "Transaction details are not showing"
In the 'TRANSACTION' tab, when you double-click a transaction the details do not show, only an empty box.
<img width="985" alt="screen shot 2018-05-10 at 18 03 18" src="https://user-images.githubusercontent.com/22733129/39883146-e28aefbe-547d-11e8-9ed7-2b49f2509bed.png">

[2018-05-12 01:30] #5 closed, assigned to shbli

[2018-05-12 02:15] #19 closed, assigned to shbli

[2018-05-16 07:07] #16 closed, assigned to nobody

[2018-05-17 13:33] aliascash commented on #18
@ptownsimon can you please download and try the v.1.4.0-beta and see if you have the same issue

[2018-05-17 13:34] aliascash commented on #17
@teknex can you please download and try the v.1.4.0-beta and see if you have the same issue

[2018-05-17 14:46] din3 opened #20 "1.4.0 beta (Windows 10) Not starting"
After console startup it crashes before seeing GUI.
Latest command entry before closing automatically:

[500:2336:0517/173624.069:ERROR:broker_win.cc(59)] Error reading broker pipe; The pipe has been ended. (0x6D)

![2018-05-17_17h45_51](https://user-images.githubusercontent.com/38725493/40184969-32999218-59fa-11e8-987e-9978062d37e1.png)

[2018-05-17 16:01] ptownsimon commented on #18
1.4.0 Beta on Windows 10 64-bit still crashing upon unlocking wallet for staking
Looks like it's missing some Qt5SDK files from the wallet download.

**From Command Line:**

App start in main.cpp
Qt WebEngine ICU data not found at C:/D/QtSDK/5.10.1/msvc2017_64/resources. Trying parent directory...
Qt WebEngine ICU data not found at C:/D/QtSDK/5.10.1/msvc2017_64. Trying application directory...
Ins

[2018-05-17 20:37] aliascash commented on #20
@din3 can you DM me on Discord please to discuss this fault. If you are not on Discord, here is the link: https://discord.gg/ckkrb8m

[2018-05-17 21:00] teknex commented on #17
Still crashing, looks like same problem. Running this on Windows 10 x64 with Nvidea 1080ti:

C:\Blockchain\Spectre\spectre-v1.4.0-beta-Win64>spectre.exe
App start in main.cpp
Failed to load libEGL (Das angegebene Modul wurde nicht gefunden.)
QWindowsEGLStaticContext::create: Failed to load and resolve libEGL functions
Failed to load opengl32sw.dll (Das angegebene Modul wurde nicht gefunden.)
Faile

[2018-05-18 04:16] shbli commented on #17
@teknex Could you please download the following 3 dlls that are missing

https://ufile.io/bu75x

Put them in the same folder next to spectre.exe and try again. Let us know how this works for you.

If it fix it we will make sure to ship the new version with it and also update our build instructions to make sure they're always available.

[2018-05-18 04:18] shbli commented on #20
@din3 Could you please download the following 3 dlls that are missing

https://ufile.io/bu75x

Put them in the same folder next to spectre.exe and try again. Let us know how this works for you.

If it fix it we will make sure to ship the new version with it and also update our build instructions to make sure they're always available.

[2018-05-18 05:27] din3 commented on #20
no effect, problem persists.

![2018-05-18_08h26_22](https://user-images.githubusercontent.com/38725493/40217414-4710a9c2-5a75-11e8-9419-5c1911788c62.png)

[2018-05-18 18:16] aliascash opened #21 "Add support for '-datadir=<folder_path>' parameter"
Most QT-based coins support the usage of the '-datadir=<folder_path>' parameter, XSPEC currently does not. This would allow greater security and the ability to store coins in encrypted containers, keyfiles on isolated hardware such as a USB memory stick.

[2018-05-18 23:04] teknex commented on #17
I tested as instructed. Still not working. Nvideas driver I am using is
supporting OpenGL 2.0:

App start in main.cpp
QWindowsEGLStaticContext::create: Could not initialize EGL display: error
0x3003
Failed to load opengl32sw.dll (Das angegebene Modul wurde nicht gefunden.)
Failed to load and resolve WGL/OpenGL functions
QWindowsEGLStaticContext::create: Could not initialize EGL display: error
0x30

[2018-05-21 16:03] mammix2 commented on #21
taking this on.

[2018-05-21 16:11] mammix2 commented on #21
functionality already exists in XSPEC src.
https://github.com/spectrecoin/spectre/blob/master/src/util.cpp#L1079-L1110

I havent manually tested for any error yet, can someone tell me what happens when the arg is set ?

[2018-05-22 09:41] aliascash commented on #15
@mammix2 can you please have a look at this ASAP

[2018-05-23 01:59] shbli opened #22 "Document how to compile tor for Windows"
Document how to compile tor for Windows using the "tor.pro". The basics should be very similar to the steps of compiling "src.pro"

[2018-05-23 16:50] shbli commented on #17
Hey

This may help providing more details about the issue you are facing (Someone with similar problem)

https://github.com/ContinuumIO/anaconda-issues/issues/9142

If that does not help I'll get back to you again later there's quit few things I'm working on right now but we defiantly want to get back to this one.

If you in fact are able to solver it let me know how it goes so we can fix it in th

[2018-05-23 16:53] shbli commented on #20
@din3 please have a look here

https://github.com/ContinuumIO/anaconda-issues/issues/9142

If that doesn't help I'll get back to you later. This bug is quit similar to what you are looking at.

[2018-05-23 21:15] teknex commented on #17
Hey Ahmed

Problem vanished. Reason not clear.

I put the file 'opengl32.dll' in the spectre folder, and could succesfully
start spectre. Afterwards I deleted the dll to verify the dll was the
reason, but now it still works.
Anyway this bug can probably be closed.

Now I have the 'crash on unlock' problem. Hope you can fix that soon.

Thank you

Tek

On Wed, May 23, 2018 at 6:50 PM, Ahmed Shbli <n

[2018-05-23 21:40] shbli commented on #17
@teknex Thank you for this. Might be of some Windows updates. By the way planning to go to Qt 5.11 instead of 5.10.

For the wallet crash when unlocking. We are able to work on this but for now there's something else. I estimate hopefully soon by the end of this weekend.

[2018-05-24 00:45] shbli commented on #18
We are releasing a new build soon. Let us know if that fixes your problem and mark this as fixed then.

Cheers
Shbli

[2018-05-24 20:07] din3 commented on #20
I've been trying the DLL's from the link http://download.qt.io/development_releases/prebuilt/llvmpipe/windows/
opengl32sw-64.7z
opengl32sw-64-mesa_12_0_rc2.7z
opengl32sw-64-mesa_11_2_2.7z

There was no effect.
Thats's what the debug.log throws out btw:

[0524/230354.802:WARNING:resource_bundle_qt.cpp(115)] locale_file_path.empty() for locale
[0524/230355.801:WARNING:resource_bundle_qt.cpp(115)] lo

[2018-05-24 20:10] shbli commented on #20
New build will be up soon! You can let me know if the same issue occurs. Please wait for the announcement.

Sent from my iPhone

On May 24, 2018, at 1:07 PM, din3 <notifications@github.com<mailto:notifications@github.com>> wrote:

I've been trying the DLL's from the link http://download.qt.io/development_releases/prebuilt/llvmpipe/windows/
opengl32sw-64.7z
opengl32sw-64-mesa_12_0_rc2.7z
opengl32sw

[2018-05-25 00:36] din3 commented on #20
The new beta is working fine now.
When trying the old beta, it's working flawless as well. So you did some proper job there, sir. TY.
I tried the beta 3 on Win7 as well, as the old beta was crashing there too, but it's working like a charm all over.

[2018-05-25 00:36] #20 closed, assigned to shbli

[2018-05-25 00:41] shbli opened #23 "Applying option have no effect"
Applying option on the wallet have no effect

[2018-05-25 00:55] din3 opened #24 "1.4. beta3 - Wallet crashes when trying to apply encryption. (Win7/Win10)"
When asked to be sure to set a passphrase, the wallet is crashing right away.

Edit:
When run as administrator, wallet will close after "OK" as proposed.
But no encryption is taking place.

[2018-05-25 13:02] Marvel63 opened #25 "1.4 b3: unable to unlock the wallet"
Trying to unlock my wallet with the same password I used with 1.3.5: got a message 'invalid passphrase'.
Checked 4 times if I use the right password, the answer is yes.

Don't hesitate to reach me out if any logs or screencast needed

[2018-05-25 15:04] shbli commented on #25
Hi

This bug is reported and I’m working on it.

Go ahead and use the older wallet for now.

Cheers
Shbli

Sent from my iPhone

On May 25, 2018, at 6:02 AM, Marvel63 <notifications@github.com<mailto:notifications@github.com>> wrote:

Trying to unlock my wallet with the same password I used with 1.3.5: got a message 'invalid passphrase'.
Checked 4 times if I use the right password, the answer is ye

[2018-05-25 17:19] ptownsimon opened #26 "Status icon tooltips offscreen when scrolled down past header text"
On any section of wallet, if you can scroll down enough so the header text is hidden (e.g. 'OPTIONS', 'TRANSACTIONS', 'OVERVIEW'), then the status icons' tooltips hover above instead of below, making them unreadable.

Currently using Window 10 64-bit, wallet 1.4.0 Beta2.

[2018-05-25 22:34] shbli commented on #25
@Marvel63 There's beta 4 https://www.dropbox.com/sh/ez1dm51s6i2bcp4/AABfvJLLmfemNop0qBI093cla?dl=0

This is still going under review by Mandica and the team before publishing it but it fixes the above problem let me know if you feel like testing it. Otherwise wait for the announcement for it.

[2018-05-25 22:39] shbli opened #27 "Automatically remove "Define NDEBUG" from release builds"
Defining NDEBUG in Windows release builds is causing crashes.

It need to be removed automatically

[2018-05-26 10:02] Marvel63 commented on #25
it works, good job guys

[2018-05-26 10:02] #25 closed, assigned to nobody

[2018-05-26 14:17] din3 commented on #24
Fixed with Spectre1.4.0beta4.

[2018-05-26 14:17] #24 closed, assigned to nobody

[2018-05-27 09:23] bitcoinx2 opened #28 "Missing include on Fedora 27"
The include path for QWebEngineView is not configured correctly for Fedora 27. The error is:

[code]
The missing files are in

- /usr/include/qt5/QtWebEngineWidgets/qwebengineview.h
- /usr/include/qt5/QtWebEngineWidgets/QWebEngineView

so the correct include would be `QtWebEngineWidgets/QWebEngineView`, or alternatively `/usr/include/qt5/QtWebEngineWidgets` must be included on the compiler level s

[2018-06-01 17:33] ghost opened #29 "1.4.0 Beta can not generate a new address from the GUI"
1.4.0 Beta can not generate a new address from the GUI.
javascript: addAddress () does not seem to be working.
The address book's new address also does not work.

Currently using Window 10 64-bit, wallet 1.4.0 Beta4.

[2018-06-04 19:23] aliascash commented on #29
I have experienced the same problem

[2018-06-04 19:24] aliascash commented on #23
Can't change any options ('Options' menu on the left), unable to save when you hit OK or Apply. If you change a value and click 'Apply' or 'Ok' the value reverts to the default. Win 10 and beta-4

[2018-06-04 19:27] aliascash opened #30 "1.4-beta4 - address book 'lookup' doesn't work"
When I use an address thats in the address book, the wallet doesn't look it up when entered in the 'pay to" field". This can be considered a security feature. If I want to send 1000 XSPEC to an exchange I copy and paste the address from the exchange and into my wallet and I see that it matched the one I have in my address book and have used before and I know it's the correct address

[2018-06-04 19:29] aliascash commented on #18
@shbli Can this be closed as the beta-4 wallet doesn't seem to crash on unlocking

[2018-06-04 19:29] aliascash commented on #17
@shbli can this be closed?

[2018-06-05 04:45] shbli commented on #23
Issue fixed. Reopen with comments if you are facing the problem again. Should be good with a new upcoming build.

[2018-06-05 18:45] din3 opened #31 "1.4.0. beta4 - Connectivity bar not visible on high DPI settings"
Known issue. Can be fixed with a workaround but would be great if the issue could go.

![1](https://user-images.githubusercontent.com/38725493/40996125-b89a05a0-6909-11e8-89d2-0f96e25e93ed.png)
![2](https://user-images.githubusercontent.com/38725493/40996126-b8bb3a18-6909-11e8-8882-a8e1a1697ba1.png)

[2018-06-05 20:31] #27 closed, assigned to shbli

[2018-06-05 22:15] shbli commented on #29
Thank you for reporting the bug and helping in the test of the 1.4.0 beta. I'm about to finish this now! @Senioris then you can try again in the latest build and if it happens again reopen the ticket.

[2018-06-05 22:47] #29 closed, assigned to nobody

[2018-06-05 22:51] shbli commented on #30
@spectrecoin need more details about this one please. It may be the case that it is related to the other address issues. I'm able to look up address by address/label for now.

[2018-06-06 00:35] shbli commented on #29
Hey @Senioris you may try beta 5

https://www.dropbox.com/sh/ggybk70skjqy8e0/AAAI-58wHcwo_bfwkz0LlNm7a?dl=0

If you like to wait for the official release then feel free to do that. But we will appreciate you trying out beta 5 and let us know if it fixes the issues.

[2018-06-06 00:35] shbli commented on #23
Hey @spectrecoin  you may try beta 5

https://www.dropbox.com/sh/ggybk70skjqy8e0/AAAI-58wHcwo_bfwkz0LlNm7a?dl=0

If you like to wait for the official release then feel free to do that. But we will appreciate you trying out beta 5 and let us know if it fixes the issues.

[2018-06-06 15:48] ghost commented on #29
I confirmed that it has been fixed. Thank you.

[2018-06-06 17:53] #18 closed, assigned to shbli

[2018-06-06 17:53] shbli commented on #18
@spectrecoin yes you can close it if you no one is facing a problem anymore. You can always reopen it later if it happens again.

[2018-06-06 18:37] ptownsimon commented on #23
**Options that still can't be changed (tested on 1.4 Win64 Beta 5):**
- Pay Transaction Fee
- Reserve
- Automatically Select Ring Size

**Options that CAN be changed but can't be changed to previous setting (since wallet startup) until after wallet restart:**
- Enable Staking
- Staking Donation
- Minimum Stake Interval
- Minimum Ring Size
- Maximum Ring Size
- Enable Secure Messaging
- Automatical

[2018-06-06 19:03] aliascash opened #32 "Spectre-beta-5: Menu > 'Tools' > 'Chain Data' does not display the anon token balances"
Menu > 'Tools' > 'Chain Data' is meant to display the same as the 'anoninfo' call in the console:
<img width="784" alt="screen shot 2018-06-06 at 19 57 08" src="https://user-images.githubusercontent.com/22733129/41059407-65364282-69c4-11e8-954e-1a0efcf2aff1.png">
<img width="1296" alt="screen shot 2018-06-06 at 19 55 23" src="https://user-images.githubusercontent.com/22733129/41059414-69150848-69c

[2018-06-06 19:39] aliascash commented on #30
I copy an address from my receive list: SR9z2GmWjBPUGTXPoTwT1qjky7MTti9um1 and the label for this address is 'CONSOLIDATION'
<img width="976" alt="screen shot 2018-06-06 at 20 35 54" src="https://user-images.githubusercontent.com/22733129/41061022-4197c3d2-69c9-11e8-81fb-42b50fe272ee.png">
I then enter the same address: SR9z2GmWjBPUGTXPoTwT1qjky7MTti9um1 in the 'pay to' field in the send dialog bo

[2018-06-06 20:58] shbli commented on #31
@spectrecoin let me know if this should be fixed for 1.4.0 then tag it. Otherwise tag it with 1.4.1 or some other release.

[2018-06-06 20:59] shbli commented on #30
@spectrecoin Roger that. Now it is very clear. Looking into it.

[2018-06-06 21:01] shbli commented on #28
@spectrecoin @bitcoinx2 we have successfully compiled on Ubuntu and it works perfectly well over there.

Now if Fidora is a high priority we can fix it for 1.4.0 and if not we can release 1.4.0 and then leave that for 1.4.1 or another release.

@spectrecoin please assign the proper tag to the issue.

[2018-06-06 21:01] shbli commented on #26
@ptownsimon please use beta 5. if possible provide screenshot

@spectrecoin please tag the issue for which version to be fixed at.

[2018-06-07 02:05] shbli commented on #30
@spectrecoin wait for the new release.

[2018-06-07 02:05] #30 closed, assigned to nobody

[2018-06-07 02:09] shbli commented on #32
@spectrecoin looking into it

[2018-06-07 02:42] #32 closed, assigned to nobody

[2018-06-07 02:42] #17 closed, assigned to nobody

[2018-06-07 02:43] shbli commented on #17
@spectrecoin @teknex thank you yes closed and now if it happens again try to reopen it.

[2018-06-07 02:45] shbli commented on #4
@dragononcrypto any chance you try the latest version CLI?

Post to us the debug files

it may be an issue that Tor is not working. I can guide you on how to test out Tor

[2018-06-07 02:48] shbli commented on #14
if you are good at Javascript/Web/Qt signals and slots you can solve this one pretty easily.

[2018-06-07 02:50] shbli commented on #23
@ptownsimon thank you for this. just for future reference try to reopen the issue if it is still incomplete. but thank you I already did that now.

if an issue is closed. it won't be found by us and we may forget about it. Now I have seen your comment on my email and that way I noticed it.

[2018-06-07 02:53] shbli commented on #31
@din3 what workaround are you applying?

It seems to me you are running the wallet on a server. it may be better then to use the command line wallet instead of the GUI one. the Command line wallet is faster.

[2018-06-07 03:06] din3 commented on #31
Workaround is as, creating a cmd file with the following input:

@echo off
set QT_AUTO_SCREEN_SCALE_FACTOR=0
start spectre.exe

I used a VM to artificially cause the bug to make screenshots.
But I had to help 3-4 people out in Discord in the past weeks which havent been able to see the bar.
And making them understand how to use the GUI is already time consuming. Doing it with a CLI is just not in

[2018-06-07 03:40] ptownsimon commented on #26
![image](https://user-images.githubusercontent.com/30858254/41077127-26fd0c2c-69d2-11e8-8697-9f70a9227988.png)

Not sure how to tag. Used 1.4.0 Beta 5 Win64. Noticed this issue for at least a few versions.

[2018-06-07 05:03] arturobernalg opened #33 "Fail to start the wallet in debian 9"
Hi Guis. I compiled from the sources in a debian 9 and all ok. When I try to start the wallet closes unexpectedly and I returned the following error
[code]

[2018-06-07 05:07] arturobernalg commented on #33
I've re-installed everything again and now the error is different
[code]

[2018-06-07 13:23] dragononcrypto commented on #33
Looks like you're using libboost 1.62, whereas 1.67 is required. Since there is no check for the basic boost bash script, try installing boost manually using [the script](https://github.com/spectrecoin/spectre/blob/master/install_boost_1_67) but adding _--no-check-certificate_ to the wget command. This might of tripped you up. I've just added a [pull request](https://github.com/spectrecoin/spectre

[2018-06-07 18:20] dragononcrypto commented on #28
I just came across this exact same build error on (L)ubuntu 18.04. So not just Fedora based, more likely to be related to latest stable Linux distros if it builds in an old version of Ubuntu without problems. Personally, I think the best bet is migrate testing to Ubuntu 18.04 LTS, that's what users will be eventually doing due to the upgrade prompting, even if not the best idea in the short-term.

[2018-06-07 22:09] bitcoinx2 commented on #28
Confirmed on Fedora 28. Ubuntu should not be the assumed default for any release, there are many different Linux distros. I would recommend to test the software on the most common Linux distros before releasing.

[2018-06-08 01:52] shbli commented on #31
@spectrecoin can you look at this and tag it with a version number according to the plans. maybe 1.4.2?

[2018-06-08 01:54] #28 closed, assigned to nobody

[2018-06-08 01:55] shbli commented on #34
Thank you for contributing! @dragononcrypto

[2018-06-08 01:57] shbli commented on #33
@dragononcrypto Merged

@spectrecoin Please provide your input on that issue. Is it for 1.4.0?

This is a Linux related issue and can be moved to 1.4.1

@ArturoBernalg How much ram does your computer have? I can see TOR crashing. the client won't work without TOR. Are you doing the GUI wallet? For Linux we have mostly tested the CLI wallet.

I'm not quit sure if we are prioritizing the Linux GUI w

[2018-06-08 02:59] shbli commented on #23
@ptownsimon let me know if reserve balance in the newest version works as expected.

I'll compile a new beta and post a link here for beta 7

Here is beta 7: https://www.dropbox.com/sh/ggybk70skjqy8e0/AAAI-58wHcwo_bfwkz0LlNm7a?dl=0

[2018-06-08 03:24] #23 closed, assigned to nobody

[2018-06-08 09:27] din3 opened #36 "1.4.0. beta6 - Win64 - Switching from anon to default chat results in crash, cannot start after"
When starting a conversation as anonymous and switching to default address right after, the wallet crashes.
After that happening, the wallet cannot be started anymore.

[2018-06-08 09:28] din3 opened #37 "1.4.0. beta6 - Win64 - Unlocking wallet when about to start a chat has no effect"
When I want to start a conversation and I get prompeted via the chat window to unlock the wallet, unlocking has no effect.

[2018-06-08 17:21] ptownsimon commented on #23
@shbli I tested this on 1.4.0 Beta 7 Win64
- Reserve Balance can now be edited
- Pay Transaction Fee can now be edited
- Automatically Select Ring Size can now be edited, but can't be changed back to previous setting until after wallet restart

Many options still can be changed, but need a wallet restart to change back to previous setting. Would this be a separate issue now?

I don't know how to r

[2018-06-10 20:06] aliascash opened #38 "1.4 crashed when unlocking from the command line / console OSX"
<img width="340" alt="screen shot 2018-06-10 at 21 05 29" src="https://user-images.githubusercontent.com/22733129/41205790-07bc38a6-6cf2-11e8-9882-46b16d4193b5.png">

When unlocking the wallet for a period of time from the console the wallet crashes on executing the command.

[2018-06-10 20:36] aliascash opened #39 "JS error when using the function "Suggest Ring Size" when sending SPECTRE"
This relates to sending anonymous SPECTRE coins from your private balance.
<img width="993" alt="screen shot 2018-06-10 at 21 08 33" src="https://user-images.githubusercontent.com/22733129/41205834-8fab1ebc-6cf2-11e8-98c6-d87751df9cf0.png">
Once you enter a stealth address to send to and the amount you wish to send and click the button 'Suggest Ring Size', the wallet frequently returns an error:
<

[2018-06-11 21:30] shbli commented on #39
Looking into this one!

[2018-06-12 09:16] vovannovig opened #40 "Error launching when using the Russian version of Windows Server 2016"
There is a mistake in the new wallet.
If I use the Windows 20016 server in Russian, the wallet can not receive an error because of the user name.
The old version 1.3.5 works fine.

![fffff](https://user-images.githubusercontent.com/40199379/41281513-3f9ab1a0-6e3a-11e8-89ac-1a43043bb057.jpg)

[2018-06-12 13:13] dragononcrypto commented on #28
The pull request helped, but didn't solve the underlying issue of missing includes for me, unless I'm missing something obvious here. This is after a fresh git pull and re-build, Ubuntu 18.04 again.

[code]

[2018-06-13 19:59] xinpw8 opened #41 "On run, Spectre.exe gives gl_surface_wgl.cc and gl_surface_qt.cpp error then stops working"
![image](https://user-images.githubusercontent.com/38776436/41374868-ff5dd712-6f19-11e8-9709-a0faf54175cc.png)
Screenshot above.

[5436:1996:0613/131953.887:ERROR:gl_surface_wgl.cc(374)] wglCreatePbufferARB not available.
[5436:1996:0613/131953.887:ERROR:gl_surface_qt.cpp(312)] Requested OpenGL implementation is not supported. Implementation: 1

spectre.exe then stops working.

[2018-06-13 21:11] Marvel63 opened #42 "Copy / Paste add characters"
In Transactions screen, I select one, right-click and choose "copy transaction ID"

![image](https://user-images.githubusercontent.com/5469297/41378274-e166c184-6f5e-11e8-821b-e82f0ce05348.png)

The transaction ID is this one

![image](https://user-images.githubusercontent.com/5469297/41378123-5c1ab936-6f5e-11e8-8c0b-463def3d6e04.png)

Then I paste in my Block explorer the characters "-000" at the

[2018-06-14 00:28] #39 closed, assigned to shbli, mammix2

[2018-06-14 00:28] shbli commented on #39
@spectrecoin this is closed. Let me know if that works! if not reopen and comment.

[2018-06-18 06:29] aliascash opened #44 "Investigate error message: "The transaction was rejected......""
Can the exact parameters / criteria for this error message be investigated. When and why does this error message occur?

https://imgur.com/e9SDaSa

https://github.com/spectrecoin/spectre/blob/738567c0d3c34e663e5859e23a29b06aa1595406/src/wallet.cpp#L2434

[2018-06-18 07:34] aliascash opened #45 "GUI / JS: 'PRIVATE' balance / transaction history doesn't update with incoming private transactions when wallet is locked"
When receiving incoming 'PRIVATE' to 'PRIVATE' transaction using a stealth address the incoming transactions are shown as 'SENT' in the transaction list w/ an amount of 0.00000000 although the transaction was in fact for 50 SPECTRE.

The 'PRIVATE' balance total does not update as well.

<img width="512" alt="screen shot 2018-06-17 at 17 58 39" src="https://user-images.githubusercontent.com/2273312

[2018-06-18 18:28] shbli commented on #45
I can see it too! Looking into it.

[2018-06-19 20:34] shbli commented on #44
@spectrecoin possible to send me the logs? of when this happens. It is not always one case there's multiple cases and I can see them written to the logs.

[2018-06-20 09:17] bitcoinx2 opened #46 "Export transaction history as CSV"
I wasn't able to find a method to export the transaction history to CSV. This is a pretty standard yet useful feature of most cryptocurrency Qt wallets. I'd like to make a request for this feature to be added.

[2018-06-21 14:47] dorsegal opened #47 "remove debug console on windows"
When opening windows wallet 1.4 a console pops out and if you close it the wallet dies.

Can you please remove it?

[2018-06-21 14:48] dorsegal opened #48 "Icon is missing windows"
there is no icon for the exe file. I would be nice if we had it.

[2018-06-22 16:34] beachguynf opened #49 "crash from dll errors when creating new address"
this is the v1.4 posted on June 21.
I uploaded in the group.....but it must have been overlooked.
![v1 4_event](https://user-images.githubusercontent.com/40498706/41788076-6dc70a7a-7618-11e8-92e4-7dda22353c9a.png)
this computer is older but runs v1.3.5 just fine

[2018-06-24 21:42] teknex opened #50 "Change error message when anon transaction is not possible because of non mature coins"
When no mature anon outputs are available when trying to send from the private bilance, the following error message is show:
![image](https://user-images.githubusercontent.com/16650998/41823871-5672e402-7807-11e8-9572-a2c117e0d75f.png)

The message should be changed to something like:
Could not create the transaction. No combination of **mature** coins matches amount and ring size.  Please try aga

[2018-06-25 09:10] dwarfman92 opened #51 "1.4.0 wallet win64"
I am getting

js: Uncaught TypeError: Cannot read property 'classList' of null

and

js: Uncaught ReferenceError: prevPage is not defined

What are these errors?

[2018-06-27 05:45] aliascash opened #52 "Slow blockchain sync speed"
This is an issue that needs to be addressed for v.1.5 of Spectrecoin - it takes too long for a new user to download the Spectre blockchain and this will deter users from using the software. We need to dramatically increase the sync speed for new users.

[2018-06-27 18:32] ptownsimon commented on #48
Really small issue, yet very important for the wallet to appear professional.

[2018-06-27 19:05] Veegold commented on #2
When will this issue be resolved? So that xspec can be listed at barterdex

[2018-06-27 19:47] LeoBitman opened #53 "1.4.0: Extended ASCII is necessary."
Version 1.4.0 I think it have a problem with the accepted character code.
In Win 10 64. Example: C: \ Users \ "MyUser" \ AppData \ Roaming \ SpectreCoin
If "MyUser" has characters with different accents (ö, é, è, ÿ, ü, ...)
an error appears and the wallet does not open. In version 1.3.5 this works well.
Instead of using the **ASCII** code the program should use the **Extended ASCII** code.

[2018-06-27 23:00] elmojocelery opened #54 "Wallet Will Not Sync"
![2018-06-27 1](https://user-images.githubusercontent.com/40644478/42004035-bfc950ca-7a33-11e8-8a97-c02ef747f068.png)

First, when the wallet opens this window opens as well and if you kill this window the wallet closes.
Second, although I have 35 active connections, my wallet is not syncing.

[2018-07-01 09:20] aliascash commented on #15
Completed by @teknex so this is being closed

[2018-07-01 09:20] #15 closed, assigned to mammix2

[2018-07-04 22:37] bitcoinx2 commented on #33
Similar issue here, the wallet crashes immediately after starting. The exact commands that I used on a fresh Debian 9 system can be found here: https://github.com/bitcoinx2/spectre-tutorials/wiki/Compilation-Guide

[code]
@dragononcrypto Your claim that Boost 1.67 is required does not match with the version required by the build system: https://github.com/spectrecoin/spectre/blob/master/configure.

[2018-07-05 10:29] aliascash commented on #54
What version of the wallet are you using and what OS?

[2018-07-05 10:31] aliascash commented on #51
What version of the wallet are you using?

[2018-07-05 10:46] dwarfman92 commented on #51
Latest release, 1.4.0 windows 10

[2018-07-12 15:46] Babber commented on #33
I experience the same issue on a Raspbian.
`Linux raspberrypi 4.14.50-v7+ #1122 SMP Tue Jun 19 12:26:26 BST 2018 armv7l GNU/Linux`
When I start the v1.4.0 daemon, I get a very similar message:
[code]

[2018-07-23 05:57] teknex commented on #48
Fixed on master. Will be delivered with 2.x binaries.

[2018-07-23 05:57] #48 closed, assigned to nobody

[2018-07-23 20:02] teknex commented on #47
Fixed on master. Will be released with the V2 binaries.

[2018-07-23 20:02] #47 closed, assigned to nobody

[2018-07-25 11:46] Marvel63 commented on #42
no feedback?

[2018-07-31 08:41] teknex commented on #53
Duplicate of https://github.com/spectrecoin/spectre/issues/40

[2018-07-31 08:43] teknex commented on #49
Fixed with 2.0.4.2

[2018-07-31 08:43] #49 closed, assigned to teknex

[2018-07-31 14:46] shbli commented on #53
@teknex I'll take a look soon

[2018-07-31 22:43] teknex opened #64 "V2.0.4: Donations and Contributions Labels"
Currently staking contributions are labeled 'Donated' in the UI.
Staking contributions because of DCB  should be labeled 'Contributed'.

[2018-07-31 22:48] teknex commented on #52
Informations regarding data organization for bitcoin: https://en.bitcoin.it/wiki/Data_directory

The essential blockchain data without any private data is stored in:
1. File blkxxxx.dat: blockchain data in net format
2. Folder txleveldb:  a database containing the indexed transactions

If you have an empty Spectre data directoy and put the  blkxxxx.dat and txleveldb inside. on startup the Applicat

[2018-08-01 11:49] igilepic opened #65 "wallet immediately close after walletpassphrase via console Win 8.1"
I dwld the newest qt wallet 2.0.4.2 and try to find out my private key via console with dumpprivkey

wallet is encrypted and currently locked on my win 8.1

1. walletpassphrase <wpassphr> 60
then the wallet immediately close

FYI the balance is 0, and before I withdrawl my coins from cryptopia I wish to have this informations

[2018-08-02 02:04] LeoBitman commented on #53
I finished testing version 2.0.4.3 and happily resolves this problem (#53 and also #40).

[2018-08-02 02:04] #53 closed, assigned to shbli

[2018-08-02 02:26] LeoBitman commented on #40
Version 2.0.4.3 solves this problem, there is already a positive test on a virtual machine.

[2018-08-02 06:15] HLXEasy opened #67 "Store client version on separate version file"
The client should store it's version on a separate version file like _version.txt_. With this file in place we could offer further actions especially after an client update. Some ideas:

- Ask for a backup of wallet.dat either right after start of client or out of the (not yet implemented) installer
- Ask for cleanup of whole data directory

Additionally in case of problems we could ask the user f

[2018-08-02 21:14] teknex opened #68 "Transaction details not shown in Block Explorer"
In the Block Explorer, transaction detail dialog does only show labels without values

![image](https://user-images.githubusercontent.com/16650998/43611479-85b8a8ee-96a9-11e8-986b-46db419bc561.png)

[2018-08-02 21:41] teknex commented on #64
Fixed with 2.0.5

[2018-08-02 21:41] #64 closed, assigned to teknex

[2018-08-02 21:46] teknex commented on #50
Fixed with 2.0.5

[2018-08-02 21:46] #50 closed, assigned to nobody

[2018-08-02 23:59] teknex commented on #40
fixed with 2.0.5

[2018-08-02 23:59] #40 closed, assigned to teknex

[2018-08-03 00:02] teknex commented on #42
Fixed with 2.0.5

[2018-08-03 00:02] #42 closed, assigned to nobody

[2018-08-03 00:10] teknex opened #69 "Transaction ID in transaction detail dialog: link behavior error"
- Click on the highlighted Transaction ID has no effect
- If "Follow Link" in the context menu is selected, the block explorer page is opened in the wallet directly and multiple browser tabs are opened in the external browser.

=> Click on transaction ID and context action follow link should open one external page showing the TRX in the blockexplorer

![image](https://user-images.githubusercontent

[2018-08-03 06:49] teknex commented on #54
@elmojocelery  Please try again with 2.0.5. if you have a problem please ask us in the discord help channel.

[2018-08-03 06:51] teknex commented on #51
@dwarfman92 Please try again with 2.0.5.

[2018-08-03 06:52] teknex commented on #41
@xinpw8 Please try again with 2.0.5.

[2018-08-03 06:54] teknex commented on #38
#65 same issue

[2018-08-03 07:32] teknex commented on #65
Test:
- walletpassphrase 1234 60
- dumpprivkey tCG84kzKsWNh4tJFpSvVFtn67FZbWAiATy

Works with 2.0.5 and balance > 0 and balance == 0 for debugger version but not release version.

[2018-08-03 14:18] shbli commented on #69
@teknex looking into this

[2018-08-03 15:10] shbli commented on #33
Hey everyone. I'll start looking into this and get you up to date. Trying to reproduce it locally here.

[2018-08-03 15:22] shbli commented on #69
Issue fixed. QtWebEngine does not support target=blank so have to remove that from our HTML

[2018-08-04 08:05] teknex commented on #69
There is still some problem: when you choose 'follow link' from the context menu, the block explorer page is opened in the wallet. I think this is a security critical problem, we cannot ever load the HTML/JS of some external site in our wallet.

[2018-08-04 13:16] teknex commented on #44
Technically this error happens when a TRX is not accepted by other nodes. The concrete problem is your case cannot be evaluated. I close this issue for now.

[2018-08-04 13:16] #44 closed, assigned to shbli

[2018-08-05 22:53] teknex commented on #26
Fixed on develop. Will be released with 2.0.6

[2018-08-05 22:53] #26 closed, assigned to teknex

[2018-08-05 23:44] teknex commented on #65
@shbli walletpassphrase works when in debugger, seems like a NDEBUG related problem you had before. Can you check this?
Maybe related to #27

[2018-08-06 12:28] shbli commented on #65
@teknex Looking into this

[2018-08-06 15:28] shbli commented on #65
@teknex @igilepic test out the code I just committed on develop branch and let me know!

I'm closing the issue now but open it again if the issue arise again.

Not related to #27

[2018-08-06 17:28] igilepic commented on #65
Sorry, but Im not a programmer, so what exactly should I do to test it?

[2018-08-06 22:32] teknex commented on #65
The rpc server is needed to lock the wallet after the specified time
With the current fix, when you don't have server active and you return the error message, the wallet is already unlocked

[2018-08-06 22:42] teknex commented on #65
@igilepic The function does work already. dumpprivkey needs the wallet to be unlocked. You can do this by

- Unlock the wallet via UI. `Wallet Encryption > (Un)lock Wallet`  (take care to uncheck the 'for staking only' box
- Start the wallet with the `-server` option to activate the RPC server. (RPC server is internally needed to lock the wallet after the specified time)

[2018-08-06 22:42] #65 closed, assigned to teknex

[2018-08-07 19:48] teknex commented on #38
see comment in #65, 2.0.6 will show error message instead crash when rpcserver is not running

[2018-08-07 19:48] #38 closed, assigned to shbli

[2018-08-07 21:16] teknex commented on #31
Status bar was not shown for small and extra-small width. Fixed with 2.0.6.

[2018-08-07 21:16] #31 closed, assigned to teknex

[2018-08-07 21:42] teknex commented on #69
Prevent default context menu with browser actions.

[2018-08-07 21:42] #69 closed, assigned to teknex

[2018-08-07 23:29] teknex commented on #68
Fixed with 2.0.6

[2018-08-07 23:29] #68 closed, assigned to teknex

[2018-08-08 19:27] teknex opened #74 "Change Spectre to Spectrecoin"
All visible occurrences of Spectre should be changed to Spectrecoin

[2018-08-10 07:44] Marvel63 opened #75 "[2.0.6.0-g] Wrong fee calculation when transfer from private to public"
I tried to transfer all my XSPEC from my private (49.95 coins) to my public wallets.
Tried 49.95 with ring size 16, got an error message saying there is a 0.01 fee. Fine, tried 49.94, message now is 0.02 fee. Tried 49.93, message is 0.03. Stopped here.
Find below the screenshots

![image](https://user-images.githubusercontent.com/5469297/43945209-bf64865c-9c81-11e8-9d19-9785da281acc.png)
![image](

[2018-08-14 13:09] shbli commented on #21
There was a bug. Fixed and committed linked to that issue

[2018-08-14 13:10] #21 closed, assigned to teknex

[2018-08-14 15:17] AlvinChipmunk1 opened #78 "MacOS v2.0.4 wallet not working"
Hello community! I was using the v2.0.4 wallet on my Mac High Sierra during the last two weeks. Everything was fine, the download, the wallet never crushed, staking was perfect and so on. Suddenly yesterday it stopped syncing, I thought maybe an internet issues where I am living. After an hour nothing changed so I closed the wallet and tried to restart-->error "the program Spectre wasn't able to o

[2018-08-14 16:32] teknex commented on #78
MacOS error: -67062 indicates a possible security violation error. Some users could solve this for other applications with a clean install.

[2018-08-14 16:41] AlvinChipmunk1 commented on #78
you mean of the whole computer?

[2018-08-14 16:52] teknex commented on #78
No only of the application: uninstall / reinstall. This might help you: https://www.cnet.com/how-to/how-to-install-unidentified-app-on-a-macbook/

[2018-08-14 17:53] AlvinChipmunk1 commented on #78
thank you, but this doesn't help. I already had my settings like this. This is why I was able to download v2.0.4 two weeks ago and run it without any issues UNTIL yesterday, I don't know what suddenly changed?!

[2018-08-14 17:54] AlvinChipmunk1 commented on #78
downloading older versions is also no problem at the moment, ONLY v2.0.4

[2018-08-14 19:26] AlvinChipmunk1 commented on #78
Trying to open the "damaged" file of v2.0.4 leads to following console message
--->LSOpenFromURLSpec(file:///Applications/spectre%20Kopie.app/) failed with -10827

[2018-08-15 09:28] shbli commented on #78
@AlvinChipmunk1 so it was working but now stopped working?

Where did you see that error message
--->LSOpenFromURLSpec(file:///Applications/spectre%20Kopie.app/) failed with -10827

Write us more details. Redownload the wallet and try again as well.

[2018-08-15 09:43] AlvinChipmunk1 commented on #78
I saw that error message in the console. I also tried several times to download it again but I still get the same message. It seems to me that somehow the computer recognizes the file as some kind of malware?! Is that possible? And as a result of this I cannot open the file because it is damaged?

No, for two days now it is not possible for me to run v2.0.4
Thank you!

[2018-08-15 09:44] shbli commented on #78
@AlvinChipmunk1 Can you post another screenshot? for that error message.

[2018-08-15 09:46] shbli commented on #78
I'm trying the one on GitHub. Downloading it now

[2018-08-15 09:51] AlvinChipmunk1 commented on #78
I switched off the firewall to what happens after downloading. I will send you another one soon!

[2018-08-15 09:51] AlvinChipmunk1 commented on #78
I also download from GitHub

[2018-08-15 09:54] AlvinChipmunk1 commented on #78
I FIGURED IT OUT! It was the Firewall! But it is not good to have it switched off all the time. what can I do?

[2018-08-15 09:55] AlvinChipmunk1 commented on #78
Now v2.0.4 is running BUT Firewall is switched off

[2018-08-15 10:05] shbli commented on #78
Try to allow SpectreCoin to use these ports
9089
37347
36657

[2018-08-15 10:15] AlvinChipmunk1 commented on #78
I am not sure how to do it: 1. open terminal 2. enter: sudo pfctl -vnf /etc/pf.conf ?? and then?
I am not really into tech, sorry

[2018-08-15 15:21] shbli commented on #78
@AlvinChipmunk1

https://www.howtogeek.com/248836/how-to-allow-apps-to-communicate-through-your-macs-firewall/

[2018-08-15 15:21] #78 closed, assigned to nobody

[2018-08-15 23:27] teknex commented on #75
Improved behavior, but could not entirely fix it. The dynamic nature of the fees in combination with the random selection algorithm of ATXOs makes it difficult.

[2018-08-21 20:20] teknex commented on #75
fixed with 2.0.6

[2018-08-21 20:20] #75 closed, assigned to teknex

[2018-08-22 05:34] teknex commented on #74
Done with 2.0.6

[2018-08-22 05:34] #74 closed, assigned to teknex

[2018-08-22 05:39] teknex commented on #54
Closed because of inactivity and probably no error in Spectrecoin.

[2018-08-22 05:39] #54 closed, assigned to nobody

[2018-08-22 05:40] teknex commented on #41
Closed because of inactivity and probably fixed with 2.0.5.

[2018-08-22 05:40] #41 closed, assigned to nobody

[2018-08-22 05:41] teknex commented on #51
Closed because of inactivity and probably fixed in 2.0.5.

[2018-08-22 05:41] #51 closed, assigned to nobody

[2018-08-22 05:50] teknex opened #79 "Consider minimum coin age of 8 hours for staked coins in UI."
There is an inconsistency between the algo selecting and verifying the coins for staking, and the code showing the staked balance. The code showing the balances in the UI, does not consider mature time of 8 hours.

[2018-08-24 21:36] teknex commented on #79
Staked coins (coinstake) maturing situation:

for a staked coin to be able to stake again, the coinstake TRX must be
1. 288 blocks deep in chain
2. 8 hours old

but the 8 hours rule does NOT apply for spending and
is NOT considered in the UI (PUBLIC/STAKED) **but in the staking weight**

According the PoSv3 algo reference we have, the TRX time maturing check was removed in PoSv3. Superflous code i

[2018-08-28 22:17] teknex opened #82 "Wallet.dat creation with mnemonic seed words (BIP39)"
Upon startup without existing wallet.dat, allow user to create or restore the private keys with mnemonic seed words.

[2018-08-29 13:41] Veegold commented on #82
I support it

[2018-09-04 04:50] #52 closed, assigned to nobody

[2018-09-04 04:52] HLXEasy commented on #52
See GitHub repo https://github.com/spectrecoin/spectrecoin-blockchain-bootstrap, which is used by Jenkins job http://ci.spectreproject.io/job/Spectrecoin/job/spectrecoin-blockchain-bootstrap/ to create zip archive https://github.com/spectrecoin/spectre/releases/download/v2.0.7/Spectrecoin-Blockchain.zip.

[2018-09-07 20:58] LeoBitman commented on #79
Good observation, it is verified exactly in the operation of the wallet,
and solve a **frequent question**:
**Why is my weight in the network less than my amount of public coins?**
Now  well answered with this that you observed: 288 blocks AND 8 hours.
(the 288 blocks only need ~ 5 hours)

[2018-10-03 12:46] HLXEasy commented on #33
Current assumption: Official qt version on Stretch is too old as it works on Ubuntu, wich has a more recent qt version.

[2018-10-03 12:47] HLXEasy commented on #36
Same on current version 2.0.7.

[2018-10-03 12:48] HLXEasy commented on #11
https://ci.spectreproject.io/

[2018-10-03 12:48] #11 closed, assigned to HLXEasy

[2018-10-17 20:51] teknex commented on #22
Tor must no longer be compiled for Windows.

[2018-10-17 20:51] #22 closed, assigned to shbli

[2018-10-17 21:00] teknex commented on #13
Debuger is working with latest Xcode and QT Creator version

[2018-10-17 21:00] #13 closed, assigned to nobody

[2018-10-17 21:30] teknex commented on #7
With release 2.1.0, there is now a release for Mac and Windows with preconfigured OBFS4 bridges

[2018-10-17 21:30] #7 closed, assigned to teknex

[2018-10-17 21:33] teknex commented on #4
Probably fixed with latest V2 builds.

[2018-10-17 21:33] #4 closed, assigned to nobody

[2018-11-08 15:00] dynamiccreator opened #115 "HD Wallet as Default"
I would strongly recommend to make HD wallet the default wallet, so that you can't loose your coins when you're wallet.dat is corrupted or has gone.
If somebody has imported addresses additionally, a warning exclamation mark along with a tooltip info should light up.The info should say, that it is highly recommended to send the coins to a address created by the HD wallet.

[2018-11-10 12:24] #45 closed, assigned to shbli

[2018-11-10 12:33] HLXEasy opened #117 "Include Git commit hash a/o build time in wallet/daemon version"
At the moment the version of the wallet respectively the daemon is defined on [clientversion.h](https://github.com/spectrecoin/spectre/blob/develop/src/clientversion.h) and consists of four integer numbers. This four-numbers-block is used internally and cannot be structurally modified. But additionally the Git commit hash a/o the build time should also be available on the final binaries to show th

[2018-11-11 13:06] teknex commented on #115
Redundant to #82

[2018-11-12 17:04] HLXEasy opened #121 "Failed build on Fedora 28/29"
Currently used [builder image 1.0](https://hub.docker.com/r/spectreproject/spectre-builder-fedora/tags/) is based on Fedora 28, but with older versions of buildtime dependencies. Builds are green there, but latest release 28 and also 29 leads to build errors:

[2018-11-22 07:15] HLXEasy opened #125 "Fix CI Mac build"
Currently only the non-OBFS4 Mac version is build. As already existing for Windows, there should be a Mac build with activated OBFS4.

[2018-11-22 07:23] HLXEasy opened #126 "Integrate build and upload of bootstrapped blockchain into refactored deployment process"
After refactoring the whole build and upload of the Spectrecoin deliveries, also the bootstrapped blockchain should be integrated there.

[2018-11-28 15:36] #117 closed, assigned to nobody

[2018-11-28 15:37] #125 closed, assigned to HLXEasy

[2018-11-28 15:38] #126 closed, assigned to HLXEasy

[2018-12-11 07:48] #37 closed, assigned to nobody

[2018-12-11 07:49] din3 commented on #37
Chat is gone for good.

[2018-12-11 07:49] din3 commented on #36
Chat is gone for good.

[2018-12-11 07:49] #36 closed, assigned to nobody

[2018-12-23 17:37] din3 opened #146 "When 0 Balance, show 0 as well on XSPEC and SPECTRE"
<img width="407" alt="0" src="https://user-images.githubusercontent.com/38725493/50386157-2ab30500-06ea-11e9-857d-dd4f0454206d.png">

[2019-01-06 08:58] din3 opened #149 "Notifications settings are not getting applied/don't work at all."

[2019-03-31 15:55] #79 closed, assigned to teknex

[2019-03-31 20:52] teknex commented on #146
Implemented with V3

[2019-03-31 20:52] #146 closed, assigned to nobody

[2019-04-03 20:50] teknex commented on #9
With V3, generated but not accepted stakes are made distinguishable on the recent transaction list by showing them as orphans instead as stakes. Also the tooltip does now explain how a stake can become an orphan. Showing orphans is important for the user since having many orphans is a sign of a setup problem like bad wifi connection.

[2019-04-03 20:50] #9 closed, assigned to shbli

[2019-04-08 20:38] #121 closed, assigned to nobody

[2019-04-24 13:16] din3 opened #168 "Make Chaindata header sticky when scrolling"
Currently the header of chaindata disappears if you scroll down, making the overview a tad harder to follow. It would be sweet if it could be "glued" to the top and doesnt move when scrolling down.
![3](https://user-images.githubusercontent.com/38725493/56662259-420bfa00-66ac-11e9-94a4-1516f495a740.png)

[2019-04-24 21:20] teknex commented on #149
Fixed with V3

[2019-04-24 21:20] #149 closed, assigned to nobody

[2019-04-24 21:24] teknex commented on #2
Fixed with V3

[2019-04-24 21:24] #2 closed, assigned to nobody

[2019-04-26 19:05] bitcoinx2 commented on #46
It's possible to use the standard `listtransactions` command which generates output in JSON format and then convert it to CSV using https://www.npmjs.com/package/json2csv . Closing.

[2019-04-26 19:05] #46 closed, assigned to nobody

[2019-04-26 19:30] bitcoinx2 opened #173 "Tor process is not cleanly shutting down when closing the Qt wallet"
On Fedora 29, I noticed that the Tor child process does not exit when closing the Qt wallet, which makes it necessary to kill the Tor process manually. The problem does not happen with `spectrecoind`, only with the graphical wallet.

[2019-04-30 15:07] #168 closed, assigned to nobody

[2019-05-01 11:31] dynamiccreator opened #178 "tooltip for public->stealth transfer"
Please make a tool tip for the spectre->xspec transfer, because it is not clear to which address the transfer will go, because it will be created afterwards.

[2019-05-02 22:05] teknex commented on #178
With 3.0.9 there will be the following explanation for the Pay To tooltip:
The stealth address to transfer the balance to.<br>Only <b>owned</b> stealth addresses can be used for XSPEC-SPECTRE transfers.<br>SPECTRE to XSPEC transfers create <b>new one-time</b> XSPEC addresses (visible in <b>Coin Control</b> dialog).

[2019-05-10 08:47] dynamiccreator opened #183 "Give syncing its own thread"
The syncing process should at least have its own thread, because the UI wallet hangs, while syncing.Would be a nice thing for the overall user experience.

Giving it even more threads (if that is technically possible/ not too much effort) would also speed up the syncing process.

[2019-05-10 14:51] teknex commented on #183
Syncing is already done in a separate thread. The UI freeze during sync happens because some UI<>Core sync tasks need to lock the core.

[2019-05-14 11:34] dynamiccreator commented on #173
Same here on Ubuntu / Linux Mint. need to shut down the process manually to reopen it, after quitting.

[2019-05-14 11:39] dynamiccreator opened #184 "proof of stake attacks covered? Fake stake / spent stake attack"
I know that the team is already aware of the attack vectors for POS described in that paper:
https://medium.com/@dsl_uiuc/fake-stake-attacks-on-chain-based-proof-of-stake-cryptocurrencies-b8b05723f806

I wonder what is the current state of this attacks in spectrecoin , are they already covered?
-Fake stake status  ???
-Spent stake status ???

[2019-05-20 14:38] dynamiccreator opened #185 "UI BUG - Wallet shows wrong spectre staking reward"
Sometimes the wallet shows 3.001 instead of 3.0 as the spectre staking reward. Once it evens showed 33 instead of 3. The 33 was also shown in transactions, not just in the overview as in the below image.

![Bildschirmfoto vom 2019-05-20 11-34-23](https://user-images.githubusercontent.com/43098612/58029820-abe9b900-7b1d-11e9-89b1-05730d38a1be.png)

[2019-05-21 10:05] dynamiccreator commented on #185
I now know the reason to this problem: The balance doesn't update after I enter the password into the "The wallet contains locked ATXOs for which is depending..." prompt.
After restart, only if I entered the password before, the balance shows up correct.

[2019-05-21 11:06] dynamiccreator commented on #185
Enhancement:
If the user is not enter the password for balance correction there should be an permanent warning, that balance/ transactions are not correct. By clicking on this warning, he can then enter the password. Then the balance must update.

[2019-05-22 14:35] dynamiccreator commented on #184
There is a fix for 1) out there:
https://medium.com/@phoreblockchain/173-projects-use-phores-fake-stake-vulnerability-8ae9671f170a
is spectre fixed?

[2019-05-23 20:43] teknex commented on #185
@dynamiccreator Did you use a backup wallet.dat or did you stake the same wallet on multiple nodes at the same time?
This error occurs only if a running wallet does not have the private spent key unencrypted when processing an incoming owned staking transaction.

[2019-05-25 04:30] dynamiccreator commented on #185
This error occurs on a backup wallet (not staking just checking, watching the stake process).

[2019-05-25 18:46] fpspqr opened #186 "Wallet Balance disappears as soon as secure shared memory is activated"
Symptoms: Wallet (GUI) Show 0.000000 Balance. Despite there beeing confirmed transaction for credit on this wallet. In debug command line –“getbalance” shows 0

Recreate: Linux Ubuntu 18.04.02 LTS. Minimal Desktop Install. Gnome 3
Wallet: 3.0.9.2 GUI “spectrecoin”
Run wallet as “normal” non root user.
Transfer some spectre to the wallet. They WILL show up.
Turn on “secured shared memory”

**vi /et

[2019-05-30 13:50] Sebdarb opened #187 "Darb Finance - Cooperation"
Dear Sir or Madam,

I’m writing to you on behalf of Darb Finance platform.
Darb is an innovative company that creates tools around cryptocurrencies but most of all - provides a simple user interface for blockchain assets and by that - help with mass adoption of those. We aim to merge both worlds of FIAT and CRYPTO assets.

We also have our own exchange that grows really fast, especially in Asia an

[2019-06-05 20:15] dynamiccreator commented on #173
I need to add that it also happens with spectrecoind. The process itself (spectrecoind) and the sub process "tor" keeps running after closing the console.

[2019-06-08 09:58] cryptomaxsun opened #188 "Error: Invalid Stealth Address. SPECTRE to XSPEC conversion requires a stealth address."
I decided to try how the transfer of coins between Spectrecoin and XCPEC.
Is it possible that I can not send coins from a stealth address to a public one?

In "Wallet > Send > Balance Transfer" I want to move coins from private to public. But if sending the payment I get the answer
I do not use the default addresses, I use new created ones. Converting XSPEC (public) to SPECTRE (private) ran as exp

[2019-06-08 10:12] teknex commented on #188
Behavior as designed. You need also a stealth address when converting SPECTRE to XSPEC.

[2019-06-08 10:12] #188 closed, assigned to nobody

[2019-06-10 15:56] HLXEasy commented on #173
Fixed with release 3.0.10

[2019-06-10 15:56] #173 closed, assigned to HLXEasy

[2019-06-10 18:26] HLXEasy commented on #184
Fixed with release 3.0.10

[2019-06-10 18:26] #184 closed, assigned to nobody

[2019-06-11 05:48] #178 closed, assigned to nobody

[2019-06-12 21:50] teknex commented on #185
Will be fixed with 3.0.11: After unlock of the wallet, wrong shown staking rewards are corrected

[2019-06-30 19:42] HLXEasy commented on #185
Fixed with release 3.0.11

[2019-06-30 19:42] #185 closed, assigned to teknex

[2019-07-02 21:38] dynamiccreator commented on #183
Can't this be fixed somehow else? It's not very professional to have this issue going. I don't know any other wallet with this problem.

[2019-07-04 16:38] teknex commented on #183
Unfortunately to fix this the complete code for processing the ATXOs must be refactored. One of the problems is that part of the logic which is independent of the wallet is currently run in the part which usually only updates the wallets. We don't have currently enough resource to fix this issue,

[2019-08-03 05:57] AlvinChipmunk1 opened #197 "Mac crushes and freezes after starting MacOS wallets"
Hi together,
I thought open an issue on GitHub should be the best solution. The following happened:

Suddenly yesterday my iMac (HighSIerra) crushed while working, the wallet v3.0.9 was open and staking in the background. I was just able to do a forced restart by pressing the power button for a couple of seconds. After a restarting the computer the wallet was already open and it wasn't possible to

[2019-08-03 06:16] #197 closed, assigned to nobody

[2019-08-03 06:17] AlvinChipmunk1 commented on #197
Solved by replacing the wallet.dat with a months old backup. Obviously the younger backup was corrupted too.

[2019-08-17 16:18] Shekelme opened #206 "Spectrecoin-3.0.14-73b56ca0-RaspbianLight - problem with keys"
Right after starting the Raspberry with newly-flashed SD card with Spectrecoin-3.0.14-73b56ca0-RaspbianLight image I performed 'apt update' command. It returned the following messages related to public keys:

`pi@raspberrypi:~ $ sudo apt update
Get:1 http://ftp.debian.org/debian stretch-backports InRelease [91.8 kB]
Get:2 http://archive.raspberrypi.org/debian stretch InRelease [25.4 kB]
Get:3 http

[2019-08-19 12:34] din3 opened #208 "Implement onion addresses v3 of TOR."
As Spectrecoin uses v2 addresses currently it would benefit the privacy factor in the future to switch to v3 addresses at one point: https://trac.torproject.org/projects/tor/wiki/doc/NextGenOnions

[2019-09-09 14:32] HLXEasy opened #214 "Migrate Debian/Raspbian build to Buster"
As Debian 10 Buster is stable now, there should be corresponding binaries. Additionally the raspberry image itself should be lifted to Raspbian Buster

[2019-09-15 12:08] ghost commented on #208
#216

[2019-09-16 19:45] HLXEasy commented on #206
@Shekelme Could you provide some more details what you did exactly? I'm unable to get the error fixed as gpg always returned with something like

or

Any ideas?

[2019-09-16 21:08] #214 closed, assigned to HLXEasy

[2019-09-18 08:36] Shekelme commented on #206
@HLXEasy, unfortunately I have nothing to say beyond the instructions given at the link above...

[2019-09-22 16:19] HLXEasy opened #218 "Provide binaries for Ubuntu 19.04"

[2019-09-29 20:04] HLXEasy commented on #218
Build process enhanced

[2019-09-29 20:04] #218 closed, assigned to HLXEasy

[2019-10-01 15:28] #208 closed, assigned to nobody

[2020-02-19 20:36] LeoBitman opened #227 "Establish the need to enter a password to open the Spectrecoin wallet."
There are many situations in which this feature would be necessary, for security reasons.

For example: thieves, governments, thieves, etc.

[2020-04-06 11:15] #82 closed, assigned to nobody

[2020-04-06 11:15] teknex commented on #82
Implemented with 4.1

[2020-11-06 23:05] divinationstar opened #248 "Create wallet - need confirmation password field."
When creating wallet there is a password field. There should be a second field for confirmation so user enters password twice.

Password field window should display information for password format so user knows what he can enter.

It’s actually a passphrase field so label might be changed to passphrase.

[2020-11-19 16:17] #115 closed, assigned to nobody

[2020-12-07 21:57] teknex commented on #227
Implemented with 4.3.1

[2020-12-07 21:57] #227 closed, assigned to nobody

[2020-12-07 22:04] #206 closed, assigned to HLXEasy

[2020-12-07 22:04] HLXEasy commented on #206
As of 4.3.1 not using backports anymore.

[2020-12-07 22:23] teknex commented on #248
Password verification field is added with 4.3.1

[2020-12-07 22:23] #248 closed, assigned to nobody

[2021-03-14 09:06] #183 closed, assigned to nobody

[2021-03-14 09:07] #187 closed, assigned to nobody

[2021-03-20 21:27] #186 closed, assigned to HLXEasy

[2021-03-20 21:30] #14 closed, assigned to nobody

[2021-03-20 21:57] #33 closed, assigned to nobody

[2021-03-20 21:59] #67 closed, assigned to nobody